/* Global resets */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  margin: 2em auto;
  max-width: 630px;
  text-align: center;
}

/* COLORS:
  blue: #20A1D4;
  green: #1CBC2C;
  orange: #EF5F3C;
  black: #424242;
  grey: #777;
  light grey: #eaeaea;
*/

p {
  font-family: "Nunito", sans-serif;
}

.amount-left {
  font-family: "Nunito", sans-serif;
  color: #ffffff;
  background-color: #424242;
  width: 450px;
  height: 100px;
  display: grid;
  place-content: center;
  border-radius: 10px;
}

.amount-text {
  font-weight: 400;
}

.dollar-amount {
  font-weight: 700;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 15px solid #424242;
  margin-left: 395px;
}

.main-content {
  margin-top: 10px;
}

.progress-bar {
  width: 450px;
  height: 22px;
  border: 1px solid #dcdcdc;
}

.filled {
  width: 337.5px;
  background-color: #ef5f3c;
  height: 20px;
}

.content-container {
  width: 450px;
  height: 300px;
  border: 1px solid #dcdcdc;
  text-align: left;
  padding-left: 50px;
  padding-right: 50px;
  color: #828282;
}

.body-copy {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
}

.days-left {
  color: #ef5f3c;
  font-weight: 700;
}

.other-donors {
  font-weight: 700;
}

#amount-to-give {
  width: 150px;
  height: 70px;
  font-size: 25px;
  padding-left: 35px;
  background-color: transparent;
  border: 2px solid #dcdcdc;
  border-radius: 5px;
  font-weight: 600;
}

#amount-to-give-label {
  font-size: 25px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  left: 15px;
}

::-moz-placeholder {
  opacity: 1;
}

#give-form {
  margin-top: 20px;
  position: relative;
  width: 390px;
}

#give-now-button {
  background-color: #1cbc2c;
  color: #ffffff;
  width: 150px;
  height: 70px;
  font-size: 25px;
  border: none;
  border-radius: 5px;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  margin-left: 40px;
  cursor: pointer;
}

.why-give-link {
  font-family: "Nunito", sans-serif;
  text-decoration: none;
  color: #20a1d4;
  font-size: 20px;
  font-style: italic;
  margin-top: 10px;
  display: block;
  font-weight: 600;
}

.extra-buttons {
  margin-top: 20px;
  width: 450px;
}

.extra-button {
  background-color: #fafafa;
  color: #777777;
  border: 2px solid #dcdcdc;
  border-radius: 5px;

  width: 210px;
  height: 60px;
  cursor: pointer;
  font-size: 20px;
}

.extra-button:nth-child(1) {
  margin-right: 30px;
  float: left;
}
