body {
  font-family: Arial;
}
.question {
  margin-bottom: 60px;
}
.question .description {
  font-size: 18px;
}

/********************************
 * QUESTION 5.
 *******************************/
.q5-wrapper {
  background: #efefef;
}
.q5-wrapper .q5-block {
  width: 100px;
  height: 100px;
  margin: 10px;
  background: #333;
}

/* Add your code after this line */

.q5-wrapper {
  display: grid;
  grid: 100px 100px / 100px 100px 100px;
  gap: 20px;

  width: 365px;
  height: 250px;
}

.q5-wrapper .q5-block:nth-child(odd) {
  background-color: #00ff00;
}

/********************************
 * QUESTION 6.
 *******************************/
/* Add your code after this line */

h1 {
  background-color: #f00;
  color: #fff;
  text-align: center;
}

.file-name {
  color: #00f;
  font-weight: bold;
}

#my-name {
  text-transform: uppercase;
}
